{% extends "navbar-template.j2" %}
{% block title %}Home{% endblock %}

{% block body %}
<!-- TODO: bessere container Aufteilung -->

  <div class="cotainer-fluid mx-5">
    <div class="row">
      <div class="col">
        <div class="row-sm">
          <div class="container">
            <div class="col border mb-5 p-3">
                  <h4>Kurze Forum Beschreibung</h4>
                  <br>
                    <p>Das PSoC Forum bietet eine Plattform für Wissenstransfer und Zusammenarbeit einer Online-Community, die sich auf die Diskussion und den Austausch von Informationen über Programmable System-on-Chip (PSoC) konzentriert. </p>
                    <p>Hier können Entwicklerinnen und Entwickler Fragen stellen, ihre Projekte vorstellen, Ideen teilen und Lösungen für technische Herausforderungen finden.</p>
                    Die Themen können von Hardware-Design, Software-Entwicklung und Programmierung bis hin zu spezifischen Anwendungen und Projekten reichen. 
                  </br>
            </div>
          
            <div class="col border p-3">
              <h5>Was ist der PSoC?</h5>
              <p>Lorem Ipsum</p>
            </div>
          </div>  
        </div>
      </div>
      <div class="container col-md-2 border text-left">
        <h3 class="my-3">Kategorien</h3>
          <ul>
            <li><a href="/category/software">Software</a></li>
            <li><a href="/category/hardware">Hardware</a></li>
            <li><a href="/category/projects">Projects</a></li>
          </ul>
          
            <img src="C:\Users\matth\OneDrive\Desktop\Schule\4CHEL 2022_23\FSST\Projekt Forum\PSoC_5LP.jpg" class="img-fluid" alt="Responsive image">

      </div>
    </div>
    <div class="container my-5 text-center">
        <a href="/post" type="button" class="btn btn-outline-dark">Ask a question!</a>
    </div>
    <h3>Latest posts</h3>
    <div class="container border mb-5">
      title
      <p>question</p>
      <br></br>
      title
      <p>question</p>
    </div>
  </div>

{% endblock %}