<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <p>Index Site</p>
    {% if session.username%}
    Welcome {{ session.username }}
    {% endif %}
    <br>
    <a href="/login">LOGIN</a>
    <a href="/logout">LOGOUT</a>
    <br>
    <a href="/category/software">software</a>
    <a href="/category/hardware">hardware</a>
    <a href="/category/projects">projects</a>
</body>
</html>