{% extends "navbar-template.j2" %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="container m-5">
      <form class="row g-3 needs-validation" action="/post" method="POST" novalidate>
        <div class="col-md-4">
        </div>
        <div class="form-group">
          <label for="validationTitle">Title</label>
          <input type="text" class="form-control" id="validationTitle" placeholder="your title" name="titel" required>
        </div>
        <div class="form-group my-3">
          <label for="validationCategory" class="form-label"></label>
          <select class="form-select" id="validationCategory" name="category" required>
            <option selected disabled value>Category</option>
            <option>Software</option>
            <option>Hardware</option>
            <option>Projects</option>
          </select>
        </div>

        <div class="form-group">
            <label for="validationText">Text</label>
            <textarea class="form-control" id="validationText" rows="3" name="description" required></textarea>
        </div>

        <div class="col-12">
          <button class="btn btn-dark" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
    </script>
{% endblock %}